* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: salmon;
}
/* -----NAV------ */

ul {
  background: rgb(189, 139, 189);
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  list-style: none;
  background: rgb(212, 86, 212);
  padding: 2.5px 5px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
/* .nav-btn:hover {
} */
/* -----HOME-----*/
.home-page {
  background: rgb(136, 58, 49);
}
.home-page.hidden {
  visibility: hidden;
}

/* -----SEARCH------ */
.search-page {
  background: rgb(250, 182, 182);
}
.search-page.hidden {
  visibility: hidden;
}
.form-container {
  width: 50%;
  margin: 0 auto;
}

.buttons-container {
  width: 70%;
  margin: 0 auto;
}

.result {
  width: 95%;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.card-container.hidden {
  visibility: hidden;
}
.card {
  background: grey;
  z-index: 10;
  padding: 20px 10px;

  display: block;
  width: 18%;
  height: 250px;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
}
.thumb-left {
  width: 50%;
}
.img-container {
  /* height: 50%; */
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.thumb-img {
  width: 35px;
}
.get-price.hidden {
  visibility: collapse;
}
.choose-btn-container.hidden {
  visibility: collapse;
}
